.detail-container{
    display: flex;
    flex: 1;
    padding: 100px;
    
}
.detail-camera{
    padding: 50px;
}
.body-detail{
    flex: 2;
    margin-left: 100px;
    margin-top: 50px;
    font-size: 25px;
    color: dimgray;
    opacity: 0.9;
}
.product-side{
    padding: 0 50px;
}
.product-price{
    color: brown;
}
.btn-detail{
    padding: 15px;
    color: aliceblue;
    background-color:red;
    border: none;
    display: block;
    font-size: 20px;
    font-weight: 520;
    margin-left: 50px;
    margin-top: 50px;
}
.btn-detail:hover{
    color: black;
    background-color: cadetblue;
    cursor: pointer;
}
.detail-img{
    width: 600px;
    height: 460px;
}